<!-- START: Header -->
<div class="header">
  <div class="bg-color">
    <nav class="navbar navbar-expand-lg fixed-top my-nav" [class.nav-white-background]="offSetTop===true">
      <div class="container">
        <!-- Brand -->
        <a href="">
          <img src="assets/images/logo-white.png" alt="" class="white-logo">
          <img src="assets/images/logo-black.png" alt="" class="black-logo">
        </a>

        <!-- Collapse -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynavbar" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav ml-auto my-nav-ul">
            <li class="nav-item">
              <a href="#">About</a>
            </li>
            <li class="nav-item">
              <a href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a href="#">Login</a>
            </li>
            <li class="nav-item">
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="wrapper-header">
      <div class="container text-center">
        <h2 class="wh-h2">New Branding Agency</h2>
        <h1 class="wh-h1">
          We are about to change the way
          <br>
          <i>you publish on the web</i>
        </h1>
        <a href="">
          <button type="submit" class="btn btn-submit wh-button">Free Download</button>
        </a>
      </div>
    </div>

    <div class="angle-down">
      <a href="">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </div>
</div>
<!-- END: Header -->

<!-- START: About Our Agency -->
<div class="about-agency bg-white" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2 class="aa-h2">About Our Agency</h2>
        <p class="aa-p">We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about
          designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
        </p>
        <img src="assets/images/about-me-signature.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- END: About Our Agency -->

<!-- START: Features -->
<div class="features bg-black">
  <div class="ft-h-94"></div>
  <div class="container">
    <div class="row ft-row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="one-feature">
          <div class="ft-icon">
            <span class="pe-7s-portfolio"></span>
          </div>
          <div class="ft-content">
            <div class="ft-content-number">548</div>
            <div class="ft-content-text">projects completed</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="one-feature">
          <div class="ft-icon">
            <span class="pe-7s-clock"></span>
          </div>
          <div class="ft-content">
            <div class="ft-content-number">1465</div>
            <div class="ft-content-text">working hours</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="one-feature">
          <div class="ft-icon">
            <span class="pe-7s-star"></span>
          </div>
          <div class="ft-content">
            <div class="ft-content-number">612</div>
            <div class="ft-content-text">positive feedbacks</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="one-feature">
          <div class="ft-icon">
            <span class="pe-7s-like"></span>
          </div>
          <div class="ft-content">
            <div class="ft-content-number">735</div>
            <div class="ft-content-text">happy clients</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="ft-h-94"></div>
</div>
<!-- END: Features -->


<!-- START: Best-project -->
<div class="best-project text-center">
  <div class="container">
    <h2 class="bp-h2">Best Projects</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p class="bp-p">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat
          ipsum non ultrices.
        </p>
      </div>
    </div>

    <div class="row bp-items">
      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-1">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Vinyl Record</h2>
            <p class="bp-item-text-p">Mockup</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-2">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Modern T-Shirt</h2>
            <p class="bp-item-text-p">Print</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-3">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Minimal Bag</h2>
            <p class="bp-item-text-p">Branding</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-4">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Clean &amp; Groovy</h2>
            <p class="bp-item-text-p">Design</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-5">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Minimal Mobile App</h2>
            <p class="bp-item-text-p">Design</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-6">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Modern Pants</h2>
            <p class="bp-item-text-p">Design</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-7">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Business Card</h2>
            <p class="bp-item-text-p">Print</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-8">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Heja Stockholm</h2>
            <p class="bp-item-text-p">Print</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 no-padding">
        <a href="" class="bp-item-link"></a>
        <div class="bp-item-image bp-img-9">
        </div>
        <div class="bp-item-text">
          <div class="w-100">
            <h2 class="bp-item-text-h2">Paper Bag</h2>
            <p class="bp-item-text-p">Photography</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bp-h-95"></div>
</div>
<!-- END: Best-project -->


<!-- START: Comments -->
<div class="comments bg-black">
  <div class="container-fluid">
    <!-- Flickity HTML init -->
    <div class="gallery js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
</div>
