form {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}

.my-dialog-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-dialog-actions button[disabled] {
  cursor: not-allowed;
  background-color: #673ab7;
  opacity: 0.5;
  color: #fff;
}

.my-dialog-actions button {
  margin: 0 auto;
}

:host /deep/ .my-form-register .mat-form-field-wrapper {
  margin-bottom: 15px;
}

.h2-dialog-register {
  font-weight: 700;
  margin-bottom: 30px;
}

.my-register-form mat-form-field {
  width: 100%;
}

.my-gender span {
  display: inline-block;
  margin-right: 5px;
}

:host /deep/ .my-gender mat-radio-button label {
  margin-bottom: 2px;
}

:host /deep/ .my-gender mat-radio-button label:first-child {
  margin-right: 10px;
}


