/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// GLOBAL
html {
  box-sizing: border-box;
  font-size: 15px;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Work Sans, sans-serif;
  line-height: 1.65;
  color: #5f5f5f;
  position: relative;
}

// RESPONSIVE
@media screen and (max-width: 767px) {
  .ci-form-name {
    margin-bottom: 30px;
    padding-right: 0;
  }

  .ci-form-email {
    padding-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0;
  }
}
